{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1 class="card-title">{{ document.title }}</h1>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Описание:</strong> {{ document.description }}</p>
            <p class="card-text"><strong>Тип:</strong> {{ document.document_type }}</p>
            <p class="card-text"><strong>Загружено пользователем:</strong> {{ document.user.username }}</p>
            <div class="mt-3">
                <a href="{% url 'download_document' document.pk %}" class="btn btn-secondary" download>Скачать файл</a>
                <a href="{% url 'download_document_files' document.id %}" class="btn btn-secondary">Скачать все файлы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
